.greg {
    width: 370px;
    max-width: 100%;
    border-radius: 15px;
}

.greg-container {
    margin-top: 3rem;
    h2 {
        font-size: 48px;
        color: #242424;
        text-align: left;
        width: 700px;
        margin-bottom: 3rem;
    
    }
}

.stat-bold {
    font-size: 80px;
    font-weight: 900;
    line-height: 1.6;
}

.stat {
    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.6;
        text-align: left;
    }
}

.stat-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stats {
    display: flex;
    flex-direction: column;
}

.stat-col {
    display: flex;
    flex-direction: row;
    :first-child {
        margin-right: 2rem;
        width: 10rem;
    }
}

.description {
    width: 58%;

    p {
    margin-bottom: 1rem;
    font-size: 20px;
    color: #686870;
    height: 24;
    text-align: left;
    }
}
