.schedule-container {
    .schedule-h2 {
        font-size: 48px;
        font-weight: 400;
        margin-bottom: 2rem;
        margin-top: 15rem;
    }
    .schedule-heading-p {
        font-size: 36px;
        line-height: 1.3;
        color: #565877;
    }
}

.schedule-step {
    height: fit-content;
    margin-bottom: 3rem;
}

.aside {
    font-style: italic;
    font-size: 14px;
    color: #53535d;
    line-height: 1.6;
    width: 400px;
    margin: 0 auto;
    margin-top: 1rem;

}

