.carousel-two {
    height: 500px;
    background-color: #fff;
    width: 100%;
    .carousel-item {
        height: 500px;
        // display: block;
        // transform: translateX(40%);
    }
    
   
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: flex;
  
}

.carousel-control-next,
.carousel-control-prev {
    left: auto;
    height: auto;
    position: absolute;
    display: flex;

}

.carousel-control-next-icon {
    background-image: url('../images/rightblack.svg');
    width: 2.5rem;
    height: 2.5rem;
}

.carousel-control-prev-icon {
    background-image: url('../images/leftblack.svg');
    width: 2.5rem;
    height: 2.5rem;
}

.carousel-inner {
    .active {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
}

.slider-two-content {
   width: 100vw;
}

.image-box {
    height: 500px;
    //display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .w-100 {
        width: auto;
    }
    img {
        max-width: 480px;
        width: auto !important;
        max-height: 500px;
    }
}


.video p {
    color: #7c7c8c;
    font-size: 20px;
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 13rem;
}


