.bigNum {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 0px;
}

.num-one {
    color: #2c83ff;
}

.num-two {
    color: #55d3d9;
}

.num-three {
    color: #59f4ca;
}

.three-steps-container {
    display: flex;
    justify-content: space-evenly;
}

.step-title {
    font-weight: 900;
    font-size: 24px;
    margin: 0px;
}

.step {
    text-align: left;
    width: 25%;
    padding-left: 1rem;
    height: 35rem;
    
}

.step-one {
    border-left: 1px dashed #2c83ff;
}

.step-two {
    border-left: 1px dashed #55d3d9;
}

.step-three {
    border-left: 1px dashed #59f4ca;
} 

.grow-steps {
    text-align: left;
  
    h2 {
        max-width: 700px;

    }

    p {
        max-width: 540px;
        font-size: 20px;
        margin-bottom: 1rem;
    }
    
}

.arrow {
    width: 100%;
    transform: rotateZ(9deg) translate(-100px, -450px)
}

.three-steps-container {
    margin-top: 3rem;
}